.footer {
    background-color: black;
    min-height: 100px;
    width: 100%;
}
.footer-container {
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
}
.footer-container > div {
    margin-top: 25px;
}