.App {
  text-align: center;
}

.main-content--container {
  background-color: #ffffff;
  min-height: 88vh;
  padding: 30px 90px 30px 70px;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}